[*.fs]
indent_size=4
fsharp_max_array_or_list_width=20
fsharp_max_elmish_width=40
fsharp_max_value_binding_width=80
fsharp_single_argument_web_mode=true
fsharp_multi_line_lambda_closing_newline=true
fsharp_record_multiline_formatter=number_of_items
fsharp_max_record_number_of_items=1
fsharp_disable_elmish_syntax=false
